*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(15, 15, 15);
}
a {
    text-decoration: none;
    color: rgb(135, 168, 229);
}
hr {
    margin: 5px 0;
    border: .1px solid rgb(46, 45, 45);
}
ul {
    list-style: none;
}
.text-center {
    text-align: center;
    font-size: 28px;
    padding: 15px 0;
    color: rgb(105, 134, 187);
}
/* applying flex on parent class */
.header{
    background-color: #212429;
    padding: 14px 0;
    display: flex;
    flex-direction: column;
}



.header-top {
    /* background-color: rgb(195, 192, 192); */
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top ul{
    display:flex;
    justify-content: end;
    /* background-color: red; */
    width:100%;
    
    

}
.header-top ul li{
    margin-right:20px ;
}
.header-bottom{
    display:flex;
    justify-content: space-between;
    margin:0 25px;
    align-items: center;
}
.header-bottom a{
    display:inline-block;
    margin-right: 65px ;
}
.header-bottom .search-box input{
    padding: 7px 5px;
    border-radius: 10px;
}