* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --primary-color: #016EF1;
    --secondary-color: #24292F;
    --white-color: #ffffff;
    --dark-color: #000;
    --light-white: #f4eaea;
    --btn-primary-color: #F58914;
    --btn-secondary-color: #DA003C;
    --red-color: red;
}

form {
    padding: 20px;
    border: 1px solid var(--light-white);
    border-radius: 5px;
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color), var(--secondary-color));
}

#keywords-warning {
    color: var(--red-color);
    font-size: 12px;
    margin: 5px 0;
    display: none;
}