@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Josefin+Sans:wght@300&family=Mulish:wght@200&family=Nanum+Gothic&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: rgba(1, 110, 241, 0.35);
    --secondary-color: #24292F;
    --white-color: #ffffff;
    --dark-color: #000;
    --light-white: #f4eaea;
    --btn-primary-color: #F58914;
    --btn-secondary-color: #DA003C;
}

body>div {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color), var(--secondary-color));
}

form {
    padding: 2rem;
    border-radius: 8px;
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color), var(--secondary-color));
    backdrop-filter: blur(5px);
    box-shadow: black 0px 0px 20px 0px;
}

#keywords-warning {
    color: var(--btn-primary-color);
    font-size: 12px;
    margin: 5px 0;
    display: none;
}