* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: rgba(1, 110, 241, 0.35);
    --secondary-color: #24292F;
    --white-color: #ffffff;
    --dark-color: #000;
    --light-white: #f4eaea;
    --btn-primary-color: #F58914;
    --btn-secondary-color: #DA003C;
}

::-webkit-input-placeholder {
    color: var(--white-color) !important;
    opacity: 0.5 !important;
}


body>div>div {
    min-height: 100vh;
    padding: 0.5rem 1rem;
    /* background-image: url("../images/32638111_7894007.jpg");
    background-size: cover; */
    background: linear-gradient(45deg, var(--secondary-color), rgb(119, 119, 20), var(--secondary-color));
}

form {
    width: 100%;
    /* min-height: 90vh; */
    padding: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(35px);
    box-shadow: var(--dark-color) 0px 0px 20px 0px;
}

form h2 {
    font-weight: 700 !important;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    border-bottom: 1px solid var(--white-color);
}

input[type="text"],
input[type="email"],
input[type="file"]::-webkit-file-upload-button,
textarea,
th, td, td input[type="text"],
input[type="file"] {
    background: transparent !important;
    color: var(--white-color) !important;
}